<template>
  <v-container>
    <v-row>
      <v-col>
        <v-card>
          <v-card-title><h2>Så er det bare igang</h2></v-card-title>
          <v-card-text>
            views/home.vue
            <v-text-field
                label="name"
                prepend-icon="mdi-account"
            />
            <v-textarea
                label="Beskrivelse"
                prepend-icon="mdi-note"/>
            <v-text-field
                label="Password"
                :type="password ? 'password':'text'"
                prepend-icon="mdi-account"
                :append-icon="password ? 'mdi-eye-off' : 'mdi-eye'"
                @click:append="password = !password"
            />
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
  // @ is an alias to /src
  import HelloWorld from '@/components/HelloWorld.vue'

  export default {
    name: 'Home',
    components: {
      HelloWorld
    },
    data() {
      return {
        password: true,
      }
    }
  }
</script>
